@using LanguageResource
@model AttendanceBussiness.Public.ResponseModal
@{
    ViewBag.Title = Lang.CalendarSchedule_Title;

}

<link href='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
<script src="~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/core/main.js"></script>
<link href='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
<link href='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/timegrid/main.css' rel='stylesheet' />
<link href='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/list/main.css' rel='stylesheet' />
<script src='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/core/main.js'></script>
<script src='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/interaction/main.js'></script>
<script src='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/daygrid/main.js'></script>
<script src='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/timegrid/main.js'></script>
<script src='~/AdminLTE3/plugins/fullcalendar-4.3.1/packages/list/main.js'></script>
<script>
    var calendarScheduleJson =  @Html.Raw(ViewData["calendarScheduleJson"]);
   
    console.log(calendarScheduleJson);
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
            header: {
                left: 'prev,next today',
                center: 'title', 
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            defaultDate: calendarScheduleJson.defaultDate,
            navLinks: false, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: true,
            events: calendarScheduleJson.clendarScheduleList,
            eventLimit: true, 
            dateClick: function (info) {
                console.log('Clicked on: ' + info.dateStr);
                console.log('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                console.log('Current view: ' + info.view.type);
                // change the day's background color just for fun
                info.dayEl.style.backgroundColor = '#E1F4FC';
            },
        });

        calendar.render();
    });
    console.log(calendarScheduleJson.employeeModal.employeeName);
    $("#SubTitle").html("| "+ calendarScheduleJson.employeeModal.employeeName);
    var departmentName = calendarScheduleJson.employeeModal.departmentName;
    if (departmentName == undefined) { departmentName = ""; } 
    $(document).ready(function () {
        layer.msg(calendarScheduleJson.employeeModal.employeeName + departmentName);
    });
    
</script>
<style>

    #calendar {
        max-width: 95%;
        margin: 0 auto;
    }
</style>
@if (Model.meta.Success == false)
{
    Html.RenderAction("ResponseModal","Base",new { Model.meta });
}
else
{ 
    <div id='calendar' class=""></div> 
}

