
@{
    ViewBag.Title = "Index";
}

<h2>Language Resource Initialize</h2>

<p>
    @Html.ActionLink("login ", "Index2", new { Language = "En-US", Id = 312312312 }, new { @class = "btn btn-info h3" })
    Language Resource Initialize Language Resource Initialize Language Resource Initialize Language Resource Initialize Language Resource Initialize
    Language Resource Initialize Language Resource Initialize Language Resource Initialize Language Resource Initialize Language Resource Initialize
</p>
