@using LanguageResource
@{
    ViewBag.Title = "Access Denied";
}
    <div class="container">
        <div class="row m-5">
            <div class="col-12 ">
                <div class="box info-box-text">
                    <div class="text-center">
                        <br>
                        <br>
                        <br>
                        <p class="text-danger fas fa-exclamation-triangle fa-4x"><h1>@Lang.GeneralUI_AccessDenied </h1></p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
<!-- Small boxes (Stat box) -->


 

